#day{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin: 15px;
}
li{
    font-size: larger;
}
p{
    font-size: large;
}
pre{
    font-size: larger;
}